*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: hsl(212,77%,95%);
}
.project_3 .todo_app{
    width: 60vw;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1.5rem;
    border-radius: 20px;
    overflow-y: scroll;
}
.project_3 .todo_app:hover{
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 20px 30px hsl(212,97%,75%);
    cursor: pointer;
}
.todo_app .search_box{
    text-align: center;
}
.todo_app .search_box input{
    width: 70%;
    height: 6vh;
    font-size: 1.4rem;
    padding-left: 1rem;
    font-weight: bold;
    border: none    ;
    border-radius: 20px 0px 0px 20px;
}
.todo_app input:focus{
    outline: none;
}
.todo_app button{
    width: 10%;
    height: 6vh;
    font-size: 1.4rem;
    border: none;
    border-radius: 0px 20px 20px 0;
    background: rgb(145, 248, 255);
    cursor: pointer;
}
.todo_app button:hover{
    transition: .3s ease-in-out;
    background: rgb(115, 196, 243);
    color: #fff;
    font-weight: bolder ;
}
.todo_app button:focus{
    outline: none;
}
#list{
    line-height: 1.7;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: none!important;
    padding: 2rem 6rem;
}

#list li{
    list-style: none;
    background: rgb(202, 200, 200);
    margin: .5rem 0;
    padding: 0 .5rem;
    color: #000;
    width: 100%;
    text-shadow: 5px 3px 1px rgba(0, 238, 255, 0.562);
    border-radius: 10px;
}

#list button{
    padding-top: .5rem;
    float: right;
    background: none;
    height: fit-content;
}
#list button:last-child{
    color: initial;
}
#list button:last-child:hover{
    transition: .2s ease-in-out;
    transform: scale(1.1);
    color: rgba(55, 0, 255, 0.973);
}
#list button:nth-child(2){
    color: initial;
}
#list button:nth-child(2):hover{
    transition: .2s ease-in-out;
    transform: scale(1.1);
    color: rgb(23, 122, 36);
}
#list button:hover{
    text-shadow: 5px 3px 1px rgba(0, 238, 255, 0.562);
    color: red;
}
#list button:focus{
    outline: none;
}

@media screen and (max-width: 850px) {
    .project_3 .todo_app{
        width: 70vw;
        height: 100vh;
    }
    .todo_app .search_box input{
        font-size: 1rem;
    }
    .search_box button{
        width: 15%;
        height: 6vh;
        font-size: 1rem;
    }
    #list{
        font-size: 1rem;
    }
    #list button{
        padding-top: 0;
    }
}
@media screen and (max-width: 600px) {
    .project_3 .todo_app{
        width: 100vw;
        height: 100vh;
    }
    .todo_app .search_box input{
        font-size: 1rem;
    }
    .search_box button{
        width: 15%;
        height: 6vh;
        font-size: 1rem;
    }
}
@media screen and (max-width: 400px) {
    #list{
        margin-top: 3rem;
        padding: 0;
    }
}